.container {
  border-radius: 5vw;
  padding: 4px;
  background-image: url('https://i.pinimg.com/564x/e7/38/a8/e738a8c346d357c75ffef9659de73089.jpg');
  background-position: left top;
  background-repeat: repeat;
}

.playSpace {
  width: 50vw;
  height: 30vh;
  border-radius: 5vw;
}
